/*   
Theme Name: МАЦОЛА wordpress theme
Author: Kernel Studios
Author URI: www.kernel.co.rs
Version: 1.0
*/

/* Footer WP icons */
#menu-item-69,
#menu-item-70,
#menu-item-71 {
        margin-right: 7px;
}

#menu-item-69 a {
display:inline-block; height:19px; width:19px; padding:0px; margin: 0; outline:none; text-indent:-9999px;
background-image:url('img/footer/facebook.png');
}       

#menu-item-70 a {
display:inline-block; height:19px; width:19px; padding:0px; margin: 0; outline:none; text-indent:-9999px;
background-image:url('img/footer/insta.png'); background-position:0 0;
}

#menu-item-71 a {
display:inline-block; height:19px; width:19px; padding:0px; margin: 0; outline:none; text-indent:-9999px;
background-image:url('img/footer/twitter.png'); background-position:0 0;
}
/*End of WP icons*/        




/***************	Font import	***************/
@font-face {
	font-family: "Lucida Grande";
	font-weight: normal;
	src: url(css/fonts/LucidaGrande.ttf);
}

@font-face {
	font-family: "Lucida Grande";
	font-weight: bold;
	src: url(css/fonts/LucidaGrandeBold.ttf);
}

/***************	Body Styles	***************/
body {
	background-color: #e4e7ec;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #5c5c5c;
	font-size: 12px;
	line-height: 15px;
}

hr {
	border: 0;
	border-top: 1px solid #dbdbdb;
	margin: 0px auto;
}

/***************	Typography	***************/

h1,
h2,
h3,
h4,
h5,
h6 
{
	font-family: inherit;
	font-weight: normal;
	margin: 0;
}

h1 {font-size: 24px;}
h2 {font-size: 18px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h5 {font-size: 10px;}


h1 {line-height: 29px;}
h3 {line-height: 17px;}
h4 {line-height: 13px;}
h5 {line-height: 10px;}

p {
	font-family: inherit;
	font-size: 12px;
	color: #5c5c5c;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #068bcd; 
}

/***************	Header	***************/
/*big header*/
.header {
	background-image: url(img/navigation_background.png);
	background-repeat: repeat;
	width: 100%;
	height: 101px;
	border-bottom: 1px solid #dddddd;
	position: fixed;
	z-index: 100;
}

.header .header-nav {
	position: relative;
	top: 31px;
	left: 250px;
}

.header .logo {
	position: relative;
	top: 18px;
	left: 400px;
}
/*small header*/
.header-small {
	background-image: url(img/navigation_background.png);
	background-repeat: repeat;
	width: 100%;
	height: 52px;
	border-bottom: 1px solid #dddddd;
	position: fixed;
	z-index: 100;
}

.header-small .header-nav {
	position: relative;
	top: -21px;
	left: 474px;
}

.header-small .logo {
	position: relative;
	top: 10px;
	left: 52px;
}
.header-small .logo img {
	max-width: 194px;
	max-height: 39px;
}
/*end of headers*/

.container {width: 980px;}

.nav {margin-bottom: 24px;}

.nav li {
	list-style: none;
	display: inline;
	margin-right: 20px;
	font-size: 12px;
	color: #333333;
}

.minibar-nav {
	margin-top: 4px;
}

.minibar-nav ul {
	position: relative;
	top: 11px;
	left: 170px;
}

.hero {
	-moz-box-shadow:		0 12px 10px -8px #e0e0e0;
	-webkit-box-shadow: 0 12px 10px -8px #e0e0e0;
	box-shadow:				 0 12px 10px -8px #e0e0e0;
	position: relative;
	z-index: 150;
}

.hero .image img{
	max-width: 980px;
}


/***************	Content	***************/

.content {
	position: relative;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	width: 980px;
	padding-top: 102px;
}

.minibar {
	height: 56px;
	position: relative;
	top: 8px;
	left: 32px;
	padding-bottom: 4px;
}


/*Search box styles*/

.minibar .navbar-search {
	margin-top: 9px;
	right: 64px;
}

.minibar .search-query {
	font-size: 12px;
	border: 0;
	border-radius: 0;
	background-color: #2f2f2f;
	height: 18px;
	width: 127px;
	line-height: 20px;	
	padding-left: 7px;
}

.minibar .search-query:-moz-placeholder {
	color: #fff;
}
.minibar .search-query:-ms-input-placeholder {
	color: #fff;
}
.minibar .search-query::-webkit-input-placeholder {
	color: #fff;
}

.minibar input {color: #fff;}


/*Slider*/

.carousel {margin: 0;}

.carousel-indicators li {
	display: block;
	cursor: pointer;
	float: left;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	text-indent: -999px;
	background-image: url(img/home/slider/bullet.png);
	background-color: transparent;
}

.carousel-indicators .active {
	background-color: transparent;
	background-image: url(img/home/slider/bullet_active.png);
}


/*News*/

.news .item {
	display: inline-table;
	width: 323px;
	height: 270px;
	padding: 11px 0px;
	text-align: center;
	border-right: 1px solid #dbdbdb;
}

.news .lastitem {border:0;}

.news .postname {
	height: 95px;
	margin-bottom: 17px;
	overflow: hidden;
}

.news .postheading {
	color: #000;
	position: relative;
	top: 16px;
	line-height: 22px;
	height: 44px;
	overflow: hidden;
}

.news .headingafter {
	margin: 0 auto;
	width: 230px;
	position: relative;
	top: 20px;
}

.news .postimage {
	width: 240px;
	height: 140px;
	border-radius: 4px;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
	margin: 0 auto;
	overflow: hidden;
}

.news .postimage img {max-width: 240px;}


/*Social*/

.social {
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	height: 81px;
}

.social ul {
	list-style: none;
	margin: 0;
	padding-top: 27px;
}

.social li {
	display: inline-block;
	width: 323px;
	text-align: center;
}

/*Metrics*/
.padding-content {
	padding-left: 44px;
	padding-right: 44px;
	padding-bottom: 60px;
}

.no-margins {margin: 0!important;}


/*Boxes*/

.split2 {
	margin-top: 30px;
}

.split2 img {
	border-radius: 4px;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
}

.singleline-text {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 47px;
}

.half {width: 445px !important;}

.half-left {padding-right: 8px;}
.half-right {padding-left: 8px;}


/*Footer*/

.footer {
	border-top: 3px solid #f7f7f7;
}

.footer .widgets {
	text-align: center;
	background-color: #fcfcfc;
	border-bottom: 1px solid #dbdbdb;
	height: 331px;
}

.footer .widget-item {
	display: inline-table;
	width: 326px;
	height: 300px;
	padding-top: 31px;
	border-left: 1px dashed #dcdcdc;
	float: left;
}

.footer .widget-item:first-child {border-left: 0;}

.footer .widget-item .widget-name {color: #000;}

.footer .widget-item .widget-content {
	width: 243px;
	margin: 3px auto;
}

.footer .widget-item input {
	margin-bottom: 10px;
	width: 132px;
	height: 24px;
}

.footer .widget-item .add-on {
	width: 25px;
	height: 24px;
}

.footer .widget-item .post {
	display: block;
	height: 64px;
	margin-bottom: 12px;
}

.footer .widget-item .post-image {
	width: 64px;
	height: 64px;
	display: inline-block;
	float: left;
}

.footer .widget-item .post-image img {
	min-height: 64px;
	min-width: 64px;
	width: auto;
	height: auto;
}

.footer .widget-item .post-description {
	text-align: left;
	width: 160px;
	height: 64px;
	display: inline-block;
	padding-top: 5px;
}

.footer .widget-item .post-name {
	height: 25px;
	color: #000;
	overflow:hidden;
	text-overflow: ellipsis;
	text-overflow: '…';
}

.footer .widget-item .post-text {
	height: 30px;
	overflow:hidden;
	text-overflow: ellipsis;
	text-overflow: '…';
}

.footer ul {
	text-align: center;
	margin: 10px 0 20px 0;
}

.footer ul li {
	display: inline;
	list-style: none;
	text-transform: uppercase;
	color: #000;
	margin-right: 30px;
}

.footer ul .social-links {margin: 0;}
.footer ul .social-links a{
	margin-right: 7px;
}
.footer ul .social-links a:last-child {margin: 0;}

.made-on-mac {
	width: 76px;
	margin: 0 auto 0px auto;
	padding-bottom: 36px;
}

/*colors*/

.beige {background-color: #f5f5f5;}


/*******Grid*******/


/*2*/

.grid2 {
	height: 440px;
	padding: 30px 0;
}

.grid2-image {
	height: auto;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.grid2-image-container {height: 440px !important;}

.grid2-text {
	padding-left: 65px;
	margin: 25px auto;
	overflow: hidden;
}

.grid2-text-right {margin: 35px auto;}

.grid2-textrow {margin-bottom: 24px;}

.grid2-heading {
	width: 390px;
	color: #000;
}

.grid2-description {
	width: 380px;
	margin-top: 26px
}


/*3*/

.grid3 {text-align: center;}

.grid3-row {margin-top: 47px;}

.grid3-image {max-width: 296px;}

.grid3-heading {
	line-height: 16px;
	color: #000;
	margin: 0 auto;
	width: 185px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 15px;
}

.grid3-description {
	width: 215px;
	margin: 0 auto;
	overflow: hidden;
}

.grid3-more {
	width: 170px;
	height: 38px;
	position: relative;
	top: 16px;
	border:0;
	border-radius: 0;
	color: #fff;
	background-color: #5c5c5c;
	line-height: 0 !important;
}


/*4*/

.grid4 {
	padding-left: 60px;
	padding-right: 16px;
	padding-bottom: 44px;
	padding-top: 25px;
	-moz-box-shadow:		inset 0px -12px 6px -11px #dedede,
						inset 0px	12px 6px -11px #dedede;
	-webkit-box-shadow: inset 0px -12px 6px -11px #dedede,
						inset 0px	12px 6px -11px #dedede;
	box-shadow:				 inset 0px -12px 6px -11px #dedede,
						inset 0px	12px 6px -11px #dedede;
}

.grid4-heading {
	line-height: 16px;
	color: #000;
	margin: 0 auto;
	width: 185px;
	overflow: hidden;
	margin-bottom: 12px;
	margin-top: 15px;
}

.grid4-heading h2 {line-height: 17px;}

.grid4-description {width: 165px;}

.grid4-image-container {width: 167px;}

.grid4-image {
	display: block;
	margin: 0 auto;
}


/*Prices*/

.prices {
	padding-left: 62px;
	padding-right: 7px;
	padding-bottom: 32px;
	-moz-box-shadow:		inset 0px -12px 6px -11px #dedede,
						inset 0px	12px 6px -11px #dedede;
	-webkit-box-shadow: inset 0px -12px 6px -11px #dedede,
						inset 0px	12px 6px -11px #dedede;
	box-shadow:				 inset 0px -12px 6px -11px #dedede,
						inset 0px	12px 6px -11px #dedede;
}

.prices-image-container {
	padding-top: 29px;
	width: 160px;
	height: 110px;
}

.prices-heading {
	line-height: 16px;
	color: #000;
	margin: 0 auto;
	width: 185px;
	overflow: hidden;
	margin-top: 12px;
	min-height: 0!important;
}

.prices-spec {
	margin-top: 22px;
}

.prices-price {
	min-height: 0!important;
	color: #000;
}

.prices-exprice {
	color: #ff0000;
	text-decoration:line-through;
}


/*Beige Sqares*/

.square {
	padding-left: 22px;
	margin-bottom: 70px;
}

.square-block {
	position: relative;
	top: -100px;
	border-radius: 5px;
	background-color: #F5F5F5;
	width: 430px !important;
	height: 255px;
	margin-left: 30px !important;
	overflow: hidden;
	padding-top: 95px;
	text-align: center;
	}

.square-imagecontainer {
	min-height: 140px;
	margin-left: 31px;
	margin-right: 12px;
}

.square-image {
	display: block;
	margin: 0 auto;
	max-width: 430px;
	position: relative;
	z-index: 2;
}

.square-span {
	margin-left: -8px !important;
	margin-top: 33px;
	height: 374px;
}

.square-heading {
	color: #000;
	padding-bottom: 8px;
}
.square-heading h2 {line-height: 30px;}

.square-text {
	color: #5c5c5c;
	width: 380px;
	margin: 0 auto;
}

.square-text a {color: #068bcd}


/* Post */

.post-head {
	margin-left: 45px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.post-heading {color: #000;}

.post-date {
	margin-top: 5px;
	margin-left: 8px;
}

.post-content {
	-moz-box-shadow:		inset 0px 16px 15px -11px #dedede;
	-webkit-box-shadow: inset 0px 16px 15px -11px #dedede;
	box-shadow:				 inset 0px 16px 15px -11px #dedede;
	padding-top: 31px;
}

.post-featured .figcaption {
	margin-left: 180px;
	padding: 3px 0px;
}

.post-featured .post-featured-image {
	display: block;
	margin: 0 auto;
}

.post-content-text {
	width: 890px;
	margin: 14px auto 0px auto;
}

.post-content-text h4 {padding-bottom: 22px;}

.post-content-text blockquote {width: 625px;}

.post-content-text blockquote h5 {
	line-height: 10px;
	margin-bottom: 15px;
}

.post-content-text img {
	display: block;
	margin: 0 auto;
}

.post-tags {
	display: inline-block;
	width: 890px;
	margin: 17px 0px 60px 47px;
}

.post-tags-thead {
	color: #000;
	display: inherit;
}

.post-tag {
	display: inherit;
	background-color: #F5F5F5;
	color: #7A8186;
	padding: 5px 9px;
	border: 1px solid #FEFEFE;
	border-radius: 5px;	
	padding: 5px 5px;
}

.post-readmore {
	color: #068bcd;
	display: inherit;
	float: right;
}


/*Page*/

.page-featured {
	margin-left: -45px;
	margin-bottom: -10px;
	margin-top: 12px;
}

.page-featured-image {
	width: 980px;
}


/****Category****/

.category-content {
	margin-top: 15px;
	margin-bottom: 57px;
}

.category-address {
	margin-top: 5px;
	margin-left: 8px;
}

.category-address a{color: #068bcd;}

.category-navigation {
	width: 890px;
	margin: 0 auto;
}


/*----------*/
/*pagination*/
/*----------*/
.pagination-right {
	float: right;
}

.category-pagination {
	display: inline-block;
}

.category-pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
	*zoom: 1;
}

.category-pagination ul > li {
	display: inline;
}

.category-pagination ul > li > a,
.category-pagination ul > li > span {
	float: left;
	color: #068BCD;
	padding: 7px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-left-width: 0;
	height: 18px;
}

.category-pagination ul > li > a:hover,
.category-pagination ul > li > a:focus,
.category-pagination ul > .active > a,
.category-pagination ul > .active > span {
	background-color: #f5f5f5;
}

.category-pagination ul > .active > a,
.category-pagination ul > .active > span {
	color: #999999;
	cursor: default;
}

.category-pagination ul > .disabled > span,
.category-pagination ul > .disabled > a,
.category-pagination ul > .disabled > a:hover,
.category-pagination ul > .disabled > a:focus {
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.category-pagination ul > li:first-child > a,
.category-pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
					border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
					border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.category-pagination ul > li:last-child > a,
.category-pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
					border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
					border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}


/*----------*/
/*navigation*/
/*----------*/
.category-nav {
	display: inline-block;
	list-style: none;

	*zoom: 1;
}

.category-nav ul {margin: 0;}

.category-nav ul > li {
	display: inline;
}

.category-nav ul > li > a,
.category-nav ul > li > span {
	float: left;
	height: 18px;
	padding: 7px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.category-nav ul > li > a:hover,
.category-nav ul > li > a:focus,
.category-nav ul > .active > a,
.category-nav ul > .active > span {
	background-color: #f5f5f5;
}

.category-nav ul > .active > a,
.category-nav ul > .active > span {
	color: #5c5c5c;
	background-color: #ebebeb;
	cursor: default;
}

.category-nav ul > .disabled > span,
.category-nav ul > .disabled > a,
.category-nav ul > .disabled > a:hover,
.category-nav ul > .disabled > a:focus {
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.category-nav ul > li:first-child > a,
.category-nav ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
					border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
					border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.category-nav ul > li:last-child > a,
.category-nav ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
					border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
					border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}


/*dropdown*/
.drop-nav {
	margin-left: 17px;
	width: 146px;
}

.category-nav .caret-border {
	display: inline;
	border-left: 1px solid #CCC;
	height: 99px;
	padding: 9px 0px;
}

.category-nav .dropdown .caret {
  margin-left: 8px;
  margin-right: -3px;
}

.category-nav .dropdown-menu {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.category-nav .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.category-nav .dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.category-nav .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.category-nav .dropdown-menu > li > a:hover,
.category-nav .dropdown-menu > li > a:focus,
.category-nav .dropdown-submenu:hover > a,
.category-nav .dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.category-nav .dropdown-menu > .active > a,
.category-nav .dropdown-menu > .active > a:hover,
.category-nav .dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.category-nav .dropdown-menu > .disabled > a,
.category-nav .dropdown-menu > .disabled > a:hover,
.category-nav .dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.category-nav .dropdown-menu > .disabled > a:hover,
.category-nav .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.category-nav .open {
  *z-index: 1000;
}

.category-nav .open > .dropdown-menu {
  display: block;
}

.category-nav .dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.category-nav .dropdown ul > li > a {
	border: 0;
}

.category-nav .dropdown ul > li:first-child > a,
.category-nav .dropdown ul > li:last-child > a {
	border-radius: 0;
}


/*items*/

.category-items {
	width: 890px;
	margin: 0 auto;
}

.items-row {
	padding-top: 12px;
}

.items-content {
	width: 750px;
	margin: auto;
}

.item-names {
	color: #000;
	text-align: center;
	margin-top: 26px;
}

.item-description {
	text-align: center;
	width: 180px;
	margin: 0 auto;
}

.item-images {
	margin-bottom: 11px;
}

.item-prices {
	color: #000;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

.category-endhr {
	margin-top: 33px;
	margin-bottom: 15px;
}

/*FANCYBOX PRODUCT*/

.product-images {
	display: block;
	float: left;
	width: 398px;
	min-height: 30px;
	margin-left: 0px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product-text {
	display: block;
	float: left;
	width: 284px;
	min-height: 30px;
	margin-top: 97px;
	margin-left: 55px;
	margin-right: 58px;
	color: #5c5c5c;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product-name {
	color: #000;
	margin-bottom: 15px;
}

.product-tags {
	margin-top: 10px;
	margin-bottom: 55px;
}

.product-tags span {
	background-color: #f5f5f5;
	padding: 4px 7px;
	border: 1px solid #f0efef;
	border-radius: 4px;
}

.product-description h4 {
	padding-bottom: 15px;
}

.product-price {
	color: #000;
	margin-top: 22px;
}

.product-price:before {
	content: "Cena: "
}