/***************  Font import  ***************/
@font-face {
	font-family: "Lucida Grande";
	font-weight: normal;
	src: url(fonts/LucidaGrande.ttf);
}

@font-face {
	font-family: "Lucida Grande";
	font-weight: bold;
	src: url(fonts/LucidaGrandeBold.ttf);
}

/***************  Body Styles  ***************/
body {
	background-color: #e4e7ec;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #5c5c5c;
	font-size: 12px;
	line-height: 15px;
}

hr {
	border: 0;
	border-top: 1px solid #dbdbdb;
	margin: 0px auto;
}

/***************  Typography  ***************/

h1,
h2,
h3,
h4,
h5,
h6 
{
	font-family: inherit;
	font-weight: normal;
	margin: 0;
}

h1 {font-size: 24px;}
h2 {font-size: 18px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h5 {font-size: 10px;}


h1 {line-height: 29px;}
h3 {line-height: 17px;}
h4 {line-height: 13px;}

p {
	font-family: inherit;
	font-size: 12px;
	color: #5c5c5c;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {text-decoration: none;}

/***************  Header  ***************/

.header {
	background-image: url(../img/navigation_background.png);
	background-repeat: repeat;
	width: 100%;
	height: 101px;
	border-bottom: 1px solid #dddddd;
	position: fixed;
	z-index: 100;
}

.header-nav {
	position: relative;
	top: 31px;
	left: 250px;
}

.nav {margin-bottom: 24px;}

.nav li {
	list-style: none;
	display: inline;
	margin-right: 20px;
	font-size: 12px;
	color: #333333;
}

.container {width: 980px;}

.logo {
	position: relative;
	top: 18px;
	left: 400px;
}

.minibar-nav {
	margin-top: 4px;
}

.minibar-nav ul {
	position: relative;
	top: 11px;
	left: 170px;
}

.hero {
	-moz-box-shadow:    0 12px 10px -8px #e0e0e0;
	-webkit-box-shadow: 0 12px 10px -8px #e0e0e0;
	box-shadow:         0 12px 10px -8px #e0e0e0;
	position: relative;
	z-index: 150;
}

.hero .image img{
	max-width: 980px;
}

/***************  Content  ***************/

.content {
	position: relative;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	width: 980px;
	padding-top: 102px;
}

.minibar {
	height: 56px;
	position: relative;
	top: 8px;
	left: 32px;
	padding-bottom: 4px;
}

/*Search box styles*/
.minibar .navbar-search {
	margin-top: 9px;
	right: 64px;
}

.minibar .search-query {
	font-size: 12px;
	border: 0;
	border-radius: 0;
	background-color: #2f2f2f;
	height: 18px;
	width: 127px;
	line-height: 20px;	
	padding-left: 7px;
}

.minibar .search-query:-moz-placeholder {
  color: #fff;
}
.minibar .search-query:-ms-input-placeholder {
  color: #fff;
}
.minibar .search-query::-webkit-input-placeholder {
  color: #fff;
}

.minibar input {color: #fff;}

/*Slider*/
.carousel {margin: 0;}

/*.carousel-indicators {
	position: relative;
	top: -32px;
	right: 0;
	left: 460px;
}*/

.carousel-indicators li {
	display: block;
	cursor: pointer;
	float: left;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	text-indent: -999px;
	background-image: url(../img/home/slider/bullet.png);
	background-color: transparent;
}

.carousel-indicators .active {
	background-color: transparent;
	background-image: url(../img/home/slider/bullet_active.png);
}

/*News*/
.news .item {
	display: inline-table;
	width: 323px;
	height: 270px;
	padding: 11px 0px;
	text-align: center;
	border-right: 1px solid #dbdbdb;
}

.news .lastitem {border:0;}

.news .postname {
	height: 95px;
	margin-bottom: 17px;
	overflow: hidden;
}

.news .postheading {
	color: #000;
	position: relative;
	top: 16px;
	line-height: 22px;
}

.news .headingafter {
	margin: 0 auto;
	width: 230px;
	position: relative;
	top: 20px;
}

.news .postimage img {
	border-radius: 4px;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
}


/*Social*/
.social {
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	height: 81px;
}

.social ul {
	list-style: none;
	margin: 0;
	padding-top: 27px;
}

.social li {
	display: inline-block;
	width: 323px;
	text-align: center;
}

/*Metrics*/
.padding-content {
	padding-left: 44px;
	padding-right: 44px;
	padding-bottom: 60px;
}

.no-margins {margin: 0!important;}

/*Boxes*/
.split2 {
	margin-top: 30px;
}

.split2 img {
	border-radius: 4px;
	 -moz-border-radius: 4px;
	 -webkit-border-radius: 4px;
}

.singleline-text {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 47px;
}

.half {width: 445px !important;}

.half-left {padding-right: 8px;}
.half-right {padding-left: 8px;}

/*Footer*/

.footer {
	border-top: 3px solid #f7f7f7;
}

.footer .widgets {
	text-align: center;
	background-color: #fcfcfc;
	border-bottom: 1px solid #dbdbdb;
	height: 331px;
}

.footer .widget-item {
	display: inline-table;
	width: 326px;
	height: 300px;
	padding-top: 31px;
	border-left: 1px dashed #dcdcdc;
	float: left;
}

.footer .widget-item:first-child {border-left: 0;}

.footer .widget-item .widget-name {color: #000;}

.footer .widget-item .widget-content {
	width: 243px;
	margin: 3px auto;
}

.footer .widget-item input {
	margin-bottom: 10px;
	width: 132px;
	height: 24px;
}

.footer .widget-item .add-on {
	width: 25px;
	height: 24px;
}

.footer .widget-item .post {
	display: block;
	height: 64px;
	margin-bottom: 12px;
}

.footer .widget-item .post-image {
	width: 64px;
	max-width: 64px;
	max-height: 64px;
	display: inline-block;
	float: left;
}

.footer .widget-item .post-description {
	text-align: left;
	width: 160px;
	height: 64px;
	display: inline-block;
	padding-top: 5px;
}

.footer .widget-item .post-name {
	height: 14px;
	color: #000;
	overflow:hidden;
	text-overflow: ellipsis;
	text-overflow: '…';
}

.footer .widget-item .post-text {
	height: 40px;
	overflow:hidden;
	text-overflow: ellipsis;
	text-overflow: '…';
}

.footer ul {
	text-align: center;
	margin: 10px 0 20px 0;
}

.footer ul li {
	display: inline;
	list-style: none;
	text-transform: uppercase;
	color: #000;
	margin-right: 30px;
}

.footer ul .social-links {margin: 0;}
.footer ul .social-links a{
	margin-right: 7px;
}
.footer ul .social-links a:last-child {margin: 0;}

.made-on-mac {
	width: 76px;
	margin: 0 auto 0px auto;
	padding-bottom: 36px;
}

/*colors*/
.beige {background-color: #f5f5f5;}

/*******Grid*******/
/*2*/
.grid2 {
	height: 440px;
	padding: 30px 0;
}

.grid2-image {
	height: 445px;
	width: 440px;
	display: block;
	margin: 0 auto;
}

.grid2-image-container {
	width: 445px;
	height: 440px;
}

.grid2-text {
	padding-left: 65px;
	margin: 94px auto;
	overflow: hidden;
}

.grid2-text-right {margin: 94px auto;}

.grid2-textrow {margin-bottom: 24px;}

.grid2-heading {
	width: 390px;
	color: #000;
}

.grid2-description {
	width: 380px;
	margin-top: 26px
}

/*3*/
.grid3 {text-align: center;}

.grid3-row {margin-top: 47px;}

.grid3-image {max-width: 296px;}

.grid3-heading {
	line-height: 16px;
	color: #000;
	margin: 0 auto;
	width: 185px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 15px;
}

.grid3-description {
	width: 215px;
	margin: 0 auto;
	overflow: hidden;
}

.grid3-more {
	width: 170px;
	height: 38px;
	position: relative;
	top: 16px;
	border:0;
	border-radius: 0;
	color: #fff;
	background-color: #5c5c5c;
	line-height: 0 !important;
}

/*4*/
.grid4 {
	padding-left: 60px;
	padding-right: 16px;
	padding-bottom: 44px;
	padding-top: 25px;
	-moz-box-shadow:    inset 0px -12px 6px -11px #dedede,
						inset 0px  12px 6px -11px #dedede;
	-webkit-box-shadow: inset 0px -12px 6px -11px #dedede,
						inset 0px  12px 6px -11px #dedede;
	box-shadow:         inset 0px -12px 6px -11px #dedede,
						inset 0px  12px 6px -11px #dedede;
}

.grid4-heading {
	line-height: 16px;
	color: #000;
	margin: 0 auto;
	width: 185px;
	overflow: hidden;
	margin-bottom: 12px;
	margin-top: 3px;
}

.grid4-description {width: 165px;}

.grid4-image-container {width: 167px;}

.grid4-image {
	display: block;
	margin: 0 auto;
}

/*Prices*/
.prices {
	padding-left: 62px;
	padding-right: 7px;
	padding-bottom: 32px;
	-moz-box-shadow:    inset 0px -12px 6px -11px #dedede,
						inset 0px  12px 6px -11px #dedede;
	-webkit-box-shadow: inset 0px -12px 6px -11px #dedede,
						inset 0px  12px 6px -11px #dedede;
	box-shadow:         inset 0px -12px 6px -11px #dedede,
						inset 0px  12px 6px -11px #dedede;
}

.prices-image-container {
	padding-top: 29px;
	width: 160px;
	height: 110px;
}

.prices-heading {
	line-height: 16px;
	color: #000;
	margin: 0 auto;
	width: 185px;
	overflow: hidden;
	margin-top: 12px;
	min-height: 0!important;
}

.prices-spec {
	margin-top: 22px;
}

.prices-price {
	min-height: 0!important;
	color: #000;
}

.prices-exprice {
	color: #ff0000;
	text-decoration:line-through;
}

/*Beige Sqares*/

.square {
	padding-left: 15px;
	margin-bottom: 40px;
}

.square-row {
	height: 410px;
	margin-bottom: 22px;
}

.square-block {
	position: relative;
	top: -100px;
	border-radius: 5px;
	background-color: #f5f5f5;
	width: 430px !important;
	height: 232px;
	margin-left: 30px !important;
	overflow: hidden;
	padding-top: 110px;
}

.square-image {
	display: block;
	margin: 0 auto;
	max-width: 430px;
	position: relative;
	z-index: 2;
}

.square-span {
	margin-left: 0 !important;
	margin-top: 28px;
}